.about__why-pic {
  // position: absolute;
  @include backgroundImage('../images/food-illustration.svg');
  min-width: 480px;
  min-height: 248px;
  margin-top: 48px;
}
// .about__why-pic {
//   @include backgroundImage('../../');
//   width: 480px;
//   height: 248px;

//   @media screen and (max-width: 1439px) {
//     // display: none;
//   }
// }