.part-in__text-list {
  position: relative;
  @extend %mainText;
  max-width: 1fr;
  align-self: start;

  @media screen and (max-width: 1199px) {
    margin: 0;
  }

  @media screen and (max-width: 640px) {
    max-width: 100%;
    color: $white;
  }
}