.field__input {
  // height: 24px;
  outline: none;
  border: 2px solid #96949e;
  border-radius: 24px;
  padding: 10px 22px;
  border-style: solid;
  font-family: 'TT Firs Neue';
  font-size: 18px;
  font-weight: normal;
  color: #3b3748;
  line-height: 24px;
  &:focus {
    border-color: #7100ff;
  }
  &::placeholder{
    color: #96949e;
  }
}

@media screen and (max-width: $desktop) {
  .field__input {
    height: 16px;
    border-radius: 22px;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 18px;
    background-size: 20px 20px;
  }
}
