.button_type_text {
  background-color: #fcfaf7;
  color: #3b3748;
  border: none;
}

@media all and (min-width: 1024px) {
  .button_type_text:hover:enabled {
    color: #5100b8;
    .button__icon__window {
      background-image: url("../images/icons/icon-window-hover.svg");
    }
    .button__icon__pointer-secondary {
      background-image: url("../images/icons/icon-pointer-right-blue.svg");
    }
  }
}
