.two-columns__paragraph{
   width: 100%;
    margin: 18px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-family: 'TT Firs Neue';
}
.two-columns__paragraph:first-child{
    margin: 0 ;
}
@media screen and (max-width:768px){
    .two-columns__paragraph{
        font-size: 16px;
        line-height: 20px;
    }
}