.digits__text-list-part {
  padding: 0;
  margin: 10px 0 20px;
  list-style-type: none;

  @media screen and (max-width: 360px) {
    margin: 5px 0 20px;
  }
}

.about__text-list-part:last-child {
  margin-bottom: 0;
}
