.digits__pic_area-type_cookies {
  @include backgroundImage('../images/cookies-illustration.svg');
  height: 283px;
  margin-top: $margin1;

  @media screen and (max-width: 970px) {
    height: 190px;
    margin-top: 0;
    background-size: cover;
    transform: scaleX(-1);
    margin-top: $margin5;
  }
}