.field__multiline {
  height: 108px;
}

@media screen and (max-width: $desktop) {
  .field__multiline {
    height: 80px;
    border-radius: 22px;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
  }
}
