.form__step {
  @include flex(row, flex-start, flex-start);
  padding-left: 0;
  justify-self: center;

  @media screen and (max-width: $desktop) {
    flex-direction: column;
    gap: $margin2-5;
  }
}
