.form__step-registry {
  @include flex(column, stretch, flex-start);
  gap: 0;
  @extend %additionalText;
  margin-top: $margin6;
  margin-bottom: 8px;
  width: calc(100% - 349px);

  @media screen and (max-width: $desktop) {
    width: 100%;
    margin-top: $margin2-5;
    margin-bottom: 0;
  }
}
