.popup-likesCard__elements{
     padding-left: 40px;
     padding-right: 40px;
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 17px;
    row-gap: 20px;
    @media screen and (max-width:768px){
        padding: 0;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
    }
}