.gallery {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  margin-top: 40px; 

  @media screen and (max-width: $tablet) {
    display: block; 
    margin-top: 20px;  
  }
}