.form__steps-item {
  @include grid();
   grid-template-columns: 77px 306px auto;
   box-shadow: 0px -1px 0px 0px $light-grey inset;
   padding: $margin2-5 0;
   max-width: 100%;

   @media screen and (max-width: 1439px) {
      grid-template-columns: 68px auto;
      grid-template-rows: auto;
      column-gap: 0;
      row-gap: $margin2;
   }
}
