.about__trust-pic {
  @include backgroundImage('../images/man-illustration.svg');
  min-width: 480px;
  min-height: 248px;
  object-fit: cover;
  margin-top: 48px;
  padding-left: 40px;


  @media screen and (max-width: 1199px) {
    display: none;
  }
}