.about__button {
    width: 204px;
    height: 48px;
    border: 2px solid;
    border-radius: 26px;
    cursor: pointer;
    margin: 32px 0 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    font-family: 'TT Firs Neue';
    background-color: transparent;
    @media screen and (max-width:$tablet){
        margin: 20px 0 0 0;
}
}
