.about__subtitle {
  padding: 0;
  margin: 0;
  @extend %secondTitle;
  text-transform: lowercase;
  align-self: start;
  margin-bottom: $margin3;

  @media screen and (max-width: 1199px) {
    margin: 0;
    margin-bottom: 20px;
    align-self:auto;
  }

  @media screen and (max-width: 640px) {
    max-width: 100%;
  }
}