.form__step-inputs {
  margin: $margin2-5 0 $margin1;
  @include flex(column, flex-start, flex-start);
  gap: $margin4;
  width: 100%;

  @media screen and (max-width: $desktop) {
    gap: $margin2;
    margin: $margin2-5 0;
  }
}
