.popup-support__text{
    width: 532px;
    margin: 20px auto 0 auto !important;
    @include text(32px, 36px,500);
    @media screen and (max-width: $tablet) {
      width: 320px;
      margin: 20px auto 0 auto !important;
      @include text(24px, 28px);
  }
}