.popup-support__text {
    width: 532px;
    @include text(32px, 36px,500);
    margin: 20px auto 16px auto ;
    @media screen and (max-width: $tablet) {
      width: 320px;
      @include text(24px, 28px);
      margin: 20px auto 0 auto;
  }
}