.mainScreen{
    background-image:url(../images/logo_size_big.svg);
    max-width: 1440px;
    min-height: 720px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}