.slider__elements{
    display: flex;
    flex-direction: row;
    gap: 20px 20px;
    flex-wrap: nowrap;
    overflow: scroll;
    margin: 24px 0;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        height: 4px;
        background-color: #FCFAF7;
        border-radius: 2px;
    
    }
    &::-webkit-scrollbar-thumb {
        background-color: #7100FF;
        border-radius: 2px;
    }
}
