.button_type_primary {
  background-color: #7100ff;
  color: #fcfaf7;
  border: none;
}

@media all and (min-width: 1024px) {
  .button_type_primary:hover:enabled {
    background-color: #5100b8;
    color: #ffffff;
  }
}
