.popup-support{
    position: relative;
    width: 614px;
    background-color: $snowy;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: $tablet) {
        width: 100%;
    }
}
