.main-about__text-block {
  max-width: 420px;
  margin-top: 8px;
  @include flex(column, flex-start, flex-start);
  gap: 18px;

  @media screen and (max-width: $desktop) {
    gap: 18px;
    margin-top: 0px;
  }
}