.footer__social-icon {
  display: block;
  width: $desktop-social-media-size-icon;
  height: $desktop-social-media-size-icon;

  @media screen and (max-width: $desktop) {
    width: $mobile-social-media-size-icon;
    height: $mobile-social-media-size-icon;
    background-size: $mobile-social-media-size-icon;
  }
}