.digits__pic_dinner {
  @include backgroundImage('../images/dinner-illustration.svg');
  height: 283px;
  margin-top: $margin2-5;

  @media screen and (max-width: 970px) {
    height: 190px;
    margin-top: 0;
    background-size: cover;
    margin-top: $margin5;
  }
}