.digits__pic_line {
  grid-area: line;
  @include backgroundImage('../images/circle-vector.svg');
  height: 69px;
  width: 230px;
  justify-self: end;
  margin-top: -$margin10;

  @media screen and (max-width: 1300px) {
    grid-area: line-small;
    justify-self: center;
  }

  @media screen and (max-width: 970px) {
    display: none;
  }
}