.form__step-radiobutton {
  @include flex(row, space-between);
  @extend %mainText;
  gap: 0;
  content: "";
  border: 2px solid #3B3748;
  width: 100%;
  border-radius: 26px;
  cursor: pointer;
  z-index: 2;

 .form__step-checkbox:checked + & {
    background-color: $purple;
    border-color: $purple;
    color: $light-grey;
  }
}
