.form__step-text {
  @include flex(column, flex-start, flex-start);
  gap: $margin1-5;
  max-width: 309px;
  margin-bottom: 28px;

  @media screen and (max-width: $desktop) {
    max-width: 320px;
  }

  @media screen and (max-width: $mobile) {
    margin-bottom: 0;
  }
}
