.switch__image_list {
  margin-left: 24px;
  filter: invert(61%) sepia(6%) saturate(355%) hue-rotate(211deg) brightness(97%) contrast(90%);
}

.switch__checkbox:checked + .switch__image_list {
  filter: none;
}
