.header__menu {
  display: none;
  @include backgroundImage('../images/icons/menu.svg');
  border: none;
  background-color: transparent;
  padding: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;

  @media screen and (max-width: 1439px) {
    display: block;
  }
}