.second-title {
  padding: 0;
  margin: 0;
  @extend %secondTitle;
  text-transform: lowercase;
  margin-right: 40px;
  align-self: start;
  margin-bottom: $margin3;

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }
}