.form__steps {
    max-width: 880px;
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.32px;
    text-transform: lowercase; 
}

@media screen and (max-width: 360px) {
    .form__steps {
        font-size: 24px;
        line-height: 28px;        
    }
}