.control-panel {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
