.slider__buttons {
    max-width: 840px;
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 16px 12px;
    margin: 16px 0;

    @media all and (max-width:$tablet) {
        gap: 12px;
        margin: 20px 0 18px;
    }
}