@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin backgroundImage($src) {
  background-image: url($src);
  background-repeat: no-repeat;
  background-position: center center;
}