.popup-likesCard__button-off {
    width: 50%;
    color: #96949E;
    border: 0 none;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    padding: 0;
    height: 46px;
}