.field_type_icon {
  background: url('../images/icons/field_icon.svg') no-repeat;
  background-position: right 24px center;
  background-size: 24px 24px;
  cursor: pointer;
  color: #96949e;
}

@media screen and (max-width: $desktop) {
  .field_type_icon {
    background-position: right 20px center;
    background-size: 20px 20px;
  }
}
