.form__step-image {
  position: relative;
  width: $desktop-size-icon;
  height: $desktop-size-icon;
  align-self: center;
  z-index: 2;
  pointer-events: none;
  // display: none;

  @media screen and (max-width: $desktop) {
    width: $mobile-size-icon;
    height: $mobile-size-icon;

  }
}
