.digits__main {
  min-height: 720px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
  "dinners line line-small"
  "lines-small lines cookies";
  margin: $margin2-5 0;
  align-items: center;
  position: relative;

  @media screen and (max-width: 970px) {
    min-height: 864px;
    min-width: 320px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "cookies"
    "dinners";
    gap: 160px;
    justify-items: center;
    margin-bottom: $margin20;
  }

  @media screen and (max-width: 360px) {
    min-height: 500px;
    //gap: 250px;

  }
}
