.about__help-pic {
  @include backgroundImage('../images/hug-illustration.svg');
  height: 248px;
  margin-top: 48px;

  @media screen and (max-width: 970px) {
    height: 190px;
    margin-top: 0;
    background-size: cover;
    margin-top: $margin5;
  }
}