.about__help-pic {
  @include backgroundImage('../images/hug-illustration.svg');
  height: 248px;
  margin-top: 48px;

  @media screen and (max-width: 1199px) {
    height: 190px;
    margin-top: 0;
    background-size: cover;
    transform: scaleX(-1);
    margin-top: $margin5;
  }
}