.popup-support__input-email{
    padding:0;
    margin: 16px auto 0 auto;
    min-width: 532px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid $dark-secondary;
    text-align: center;
    @media screen and (max-width: $tablet) {
        margin: 16px auto 0 auto;
        min-width: 300px;
    }
}