.part-in {
  margin: 0 auto;
  padding-top: $margin10;
  padding-bottom: $margin10;
  @include flex(row, center, flex-start);
  gap: 40px;
  background-color: $yellow;

  @media screen and (max-width: $tablet) {
    @include flex(column, flex-start, flex-start);
    background-color: $red;
    padding: $margin5 $margin2-5;
    gap: 12px;
  }
}