.form__step-radiogroup {
  cursor: pointer;
  background: url("../images/icons/icon-radio-off.svg") no-repeat left;
  background-size: $margin3;
  margin: $margin1-5 0;
  padding-left: $margin4;

  .form__step-checkbox:checked + & {
    background-image: url("../images/icons/icon-radio-on.svg");
  }

  @media screen and (max-width: 1439px) {
    background-size: $margin2-5;
    padding-left: $margin3;
  }
}

