.mainscreen__img{
    background-image: url(../images/logo_size_big.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1440px;
    width: 100%;
    z-index: 1;
    height: 720px;
    box-sizing: border-box;
}
@media screen and (max-width:768px){
    .mainscreen__img{
        max-width: 360px;
        height: 600px;
        margin: 0 auto;
        background-image: url(../images/logo_size_mob.jpg);
    }
}