.mainscreen__more-button{
    width: 44px;
    height: 44px;
    background-color: #7100FF;
    border-radius: 25px;
    border: 0 none;
    display: flex;
    justify-content: center;
    align-items: center;
}