.form__steps-content {
    padding: 12px 24px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    z-index: 5;
    color: #3B3748;
    justify-content: center;
    width: 483px;
    height: 48px;
}
