$color-accident: rgba(255, 212, 0, 1);

.header {
  @include flex(row, space-between, center);
  background: $color-accident;
  padding: 20px 40px;

  @media all and (max-width: 1439px) {
    padding: 12px 20px;
  }

  &__location {
    @media all and (max-width: 1439px) {
      display: none;
    }
  }

  &__logo {
    @include flex(row, start, center);
    gap: 40px;
  }

  &__navigation {
    @include flex(row, start, center);
    gap: 8px;

    @media all and (max-width: 1439px) {
      display: none;
    }
  }

  &__actions {
    @include flex(row, start, center);
    gap: 8px;

    @media all and (max-width: 1439px) {
      gap: 16px;

      &_hidden_small {
        display: none;
      }
    }
  }

  &__menu {
    display: none;

    @media all and (max-width: 1439px) {
      display: block;
      border: none;
      background-color: transparent;
      padding: 0;
    }
  }
}