.popup__content-card_info-text {
    font-size: 18px;
    line-height: 24px;
    font-family: 'TT Firs Neue';
    font-weight: 400;
    min-width:176px;
    word-wrap: break-word;
    @media screen and (max-width:768px){
        min-width:104px;
    }
}