.field_warning {
  width: 396px;
  padding: 0 24px 0 60px;
  font-family: 'TT Firs Neue';
  font-size: 18px;
  font-style: normal;
  color: #3B3748;
  line-height: 24px;
  margin: 0;
  background: url('../images/icons/field_warning_icon.svg') no-repeat 24px 24px;
  background-position: left 24px center;
}
