.about__circle {
  position: relative;
  z-index: -1;
  top: 0;
  height: 480px;
  width: 480px;
  border-radius: 100%;
  background-color: $yellow;

  @media screen and (max-width: 970px) {
    height: $margin40;
    width: $margin40;
  }

  @media screen and (max-width: 640px) {
    height: 320px;
    width: 320px;
  }
}