.form {
    max-width: 1440px;
    margin: $margin3 $margin3 $margin10;
    @include flex(column, flex-start, flex-start);
    @extend %mainText;
    gap: 40px;
    
    @media screen and (max-width: 1439px) {
        margin: 20px 20px 0;
    }
}
