.popup-card__close{
    position: absolute;
    width: 48px;
    height: 48px;
    right: 20px;
    top: 20px;
    background-color: $light-grey;
    border-radius: 50%;
    @media screen and (max-width:$tablet){
        width: 44px;
        height: 44px;
    }
}