.footer__block {
  @include flex(column, flex-start, start);
  gap: 20px;
  
  &:nth-child(2) {
    width: 310px;
  }

  &:nth-child(3) {
    width: 427px;
  }

  &:nth-child(4) {
    width: 310px;
  }

  @media screen and (max-width: $desktop) {
    gap: 12px;

    &:nth-child(n) {
      width: 100%;
    }
  }
}