.popup-buy__minus {
  cursor: pointer;
background-color: $purple;
color: white;
width: 48px;
height: 48px;
border-top-left-radius: 24px;
border-bottom-left-radius: 24px;
line-height: 24px;
@include flex(row,center,center);
@media screen and (max-width: $tablet) {
    width: 44px;
    height: 44px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
  }
}