.form__body {
    @include flex(column, flex-start, flex-start);
    gap: $margin3;
    padding-left: $margin30;
    @media screen and (max-width: 1439px) {
        gap:$margin2-5;
        padding-left: 0;
    }
}

